syntax: glob
*.log
*.pyc
*~
.DS_Store
pip-log.txt
cmd.txt

# other
build/*
tmp/*
selenium/*
package/DEBIAN/control
*.swp
logreporter.egg-info/


.Python
bin/
include/
lib/
readline-6.2.2-py2.7-macosx-10.7-intel.egg/
